<h3 class="text-center">articles</h3>
<div class="articles">
    <div class="article">
        <a href="https://docs.google.com/document/d/1eXaL8mAv7bGQ_xq_f6sO5jf23X7APuRwCDAexHN52mY/edit?usp=sharing">
        <div class="article-img"></div>
        <div class="article-title">Installer Laravel sous mac os et MAMP</div>
        <div class="article-extrait"></div>
        </a>
    </div>
        
     <div class="article">
        <a href="https://docs.google.com/document/d/1dttjxadFVWhxs-xI075S70Cb5ZJxc_qLalb8588w_h8/edit?usp=sharing">
        <div class="article-img"></div>
        <div class="article-title">Utiliser Wordpress en back office d'une appli angularJS</div>
        <div class="article-extrait"></div>
        </a>
    </div>
        
    <div class="article">
        <a href="https://docs.google.com/document/d/1mbvauAPW8oK4WNZ4XnDGiOKMaiU-wqSop7j3GT85zlA/edit?usp=sharing">
        <div class="article-img"></div>
        <div class="article-title">Réalisation et animation SVG avec inkscape + snapsvg</div>
        <div class="article-extrait"></div>
        </a>
    </div>

    <div class="article">
        <a href="https://docs.google.com/document/d/1w7y5-FvUgyWmF5k1F8i2pKQr2HqiRn8eyBugcCinFQI/edit?usp=sharing">
        <div class="article-img"></div>
        <div class="article-title">EaselJS pour la réalisation de graphiques dans Canvas</div>
        <div class="article-extrait"></div>
        </a>
    </div>
</div>